*{
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(172, 248, 248);
}
.App {
  text-align: center;
  align-items: center;
  padding: 10px;
  margin-top: 200px;
  margin-left: 350px;
  border: 2px solid black;
  height: 300px;
  width: 500px;
  background-color: burlywood;
}
h1 {
  margin-bottom: 10px;
  background-color: burlywood;
}
p {
  padding: 8px;
  font-size: large;
  font-weight: 400;
  background-color: burlywood;
}
